<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Vite Starter{% endblock %}</title>

    {% block stylesheets %}{% endblock %}
</head>
<body>
{% include '../partials/header.twig' with page %}

<main>
    {% block content %}{% endblock %}
</main>

{% include '../partials/footer.twig' %}

{% block scripts %}
    <script type="module" src="/src/scripts/main.js"></script>
{% endblock %}
</body>
</html>