{% extends 'templates/layout.twig' %}

{% set page = 'faq' %}

{% block title %}Faq{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Frequently Asked Questions</h1>
        <p class="lead">This is the FAQ page content.</p>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="module" src="/src/scripts/faq.js"></script>
{% endblock %}