{% extends 'templates/layout.twig' %}

{% set page = 'faq' %}

{% block title %}Faq{% endblock %}

{% block content %}
    <h1>Frequently Asked Questions</h1>
    <p>This is the FAQ page content.</p>
{% endblock %}