<footer class="footer mt-auto py-3 bg-body-tertiary">
    <div class="container">
        <span class="text-body-secondary">
            &copy;
            <script>document.write(new Date().getFullYear());</script>
            - All rights reserved
        </span>
    </div>
</footer>