<header>
    <nav>
        <ul>
            <li><a href="index.html" class="{{ page == 'index' ? 'active' : '' }}">Home</a></li>
            <li><a href="faq.html" class="{{ page == 'faq' ? 'active' : '' }}">Faq</a></li>
        </ul>
    </nav>
</header>